---
import LinkIcon from "./icons/LinkIcon.astro";

interface Props {
	class?: string;
	title: string;
	body: string;
	href: string;
	image: string;
}

const { href, title, body, image } = Astro.props;
---

<div class="group p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow ">
	<h3 class="text-2xl font-semibold text-balance mb-6">{title}</h3>
	<div class="relative">
		<img
			class="w-full rounded-lg h-48 object-cover transform group-hover:scale-105 transition-transform"
			src={image}
			alt={title}
		/>
		<a href={href} target="_blank" class="absolute bottom-2 right-2 bg-white bg-opacity-50 hover:bg-opacity-90 dark:bg-gray-800 dark:bg-opacity-50 dark:hover:bg-opacity-90 p-2 rounded-full shadow-md hover:shadow-lg transition-shadow">
			<LinkIcon/>
		</a>
	</div>
	<p class="mt-4 text-gray-600 dark:text-gray-400">{body}</p>
</div>
